.HolyGrail {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
  flex: 1;
}

.HolyGrail-content {
  flex: 1;
  position: absolute;
  right: 0;
  width: 70%;
  height: 100%;
}

.HolyGrail-nav, .HolyGrail-ads {
  /* 12em is the width of the columns */
  flex: 0 0 25em;
  border-radius: 20px;
  /* margin-top: 0.05%; */
}

.HolyGrail-nav {
  /* put the nav on the left */
  order: -1;
  max-width: 1000px;
  background: linear-gradient(to bottom right, lightblue, white);
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 450px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.App-Nav {
  display:flex;
  flex-direction: row;
  margin-top:0;
}

.App-NavHome{
flex:1;
width: 100;
height: 50;
}

.App-NavVacations{
flex:1;
width: 100;
height: 50;
}
.App-NavFavorites{
flex:1;
width: 100;
height: 50;
}
.App-NavLogin{
flex:1;
width: 100;
height: 50;
}
.App-NavRegister{
flex:1;
width: 100;
height: 50;
}

.Home{
   background-image: url(${image});
   z-index: 50000;
}
.main-container {
  display: flex;
  flex-direction: row;
}
.sidebar {
  background-color: red;
    height: 100%; /* 100% Full-height */
    width: 30%; /* 0 width - change this with JavaScript */
    position: absolute; /* Stay in place */
    /* z-index: 1; /* Stay on top */ */
    top: 0; /* Stay at the top */
    left: 0;
    /*background-color: #111;*/ /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}
.map-area {
  position: absolute;
  right: 0;
  width: 50%;
  height: 100%;
}

.listing-div {
}

.nearby-div {
  /* background: rgba(0,0,0,0.2); */
  bottom: 0;
}

.nearby-results {
  background: rgba(255,255,255,0.7);
  border-radius: 20px;
  z-index: 1;
  font-size: 15px;
  list-style-type: none;
  position: absolute;
  right: 1%;
  margin-top: 7%;
  padding: 10px;
  text-align: left;
}

.nearby-result {
  margin-right: 5%;
  display: inline;
  padding: 1px 2px;
  margin-top: 1px;
}

.nearby-icon {
  width: 20px;
}

.showplaces-toggle-window {
  position: absolute;
  right: 5%;
  z-index: 1;
  margin-top: 3%;
}

.showplaces-button {
  width: 250px;
  font-size: 20px;
  padding: 0px 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px 2px #888888;
  outline: none;
}
