@import url('https://fonts.googleapis.com/css?family=Open+Sans');

.App {
  height: 100vh;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.HolyGrail {
  display: flex;
  flex-direction: column;
}

.HolyGrail-body {
  display: flex;
}

.HolyGrail-content {
  position: absolute;
  right: 0;
  height: 90vh;
  width: 70vw;
}

.HolyGrail-sidebar {
  left: 0;
  width: 30vw;
  height: 90vh;
  overflow: scroll;
  background: linear-gradient(to bottom right, lightblue, white);
}

.App-Nav {
  height: 10vh;
  display:flex;
  flex-direction: row;
  background-color: black;
}

.App-nav-obj {
  text-align: center;
  padding: 0;
  margin: auto;
  font-size: 25px;
  color: white;
  width: 25%;
}
.App-nav-obj a {
  text-decoration: none;
  color: white;
}
.App-nav-obj a:hover {
  color: yellow;
}

.location-list .title {
  font-weight: bold;
}

.main-container {
  display: flex;
  flex-direction: row;
}
.sidebar {
  background-color: red;
    height: 100%;
    width: 30%;
    position: absolute;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}
.map-area {
  position: absolute;
  right: 0;
/*  width: 50%;
*/}

.nearby-div {
  bottom: 0;
}

.nearby-results {
  background: rgba(255,255,255,0.7);
  border-radius: 20px;
  z-index: 1;
  font-size: 15px;
  list-style-type: none;
  position: absolute;
  right: 1%;
  margin-top: 7%;
  padding: 10px;
  text-align: left;
}

.nearby-result {
  margin-right: 5%;
  display: inline;
  padding: 1px 2px;
  margin-top: 1px;
}

.nearby-icon {
  width: 20px;
}

.showplaces-toggle-window {
  position: absolute;
  right: 5%;
  z-index: 1;
  margin-top: 3%;
}

.showplaces-button {
  width: 250px;
  font-size: 20px;
  padding: 0px 10px;
  border-radius: 10px;
  background: white;
  box-shadow: 2px 2px 2px #888888;
  outline: none;
}

.showplaces-button:hover {
  background: linear-gradient(to bottom right, white, lightblue);
}

.destinationDivBox {
  border-top: .25px solid black;
  border-bottom: .25px solid black;
  margin: 1px;
  padding: auto;
}


.not-active:hover{
  background: linear-gradient(#fcf8f2, lightblue);
}

.is-active {
  background: linear-gradient(to bottom left, white, #fbfcc2);
}

.is-active > h2 {
  font-size: 30px;
}

.is-active:hover {
  background: linear-gradient(#fbfcc2, white);
}

aside > div > h1 {
  font-size: 35px;
  font-weight: bold;
  font-family: Times New Roman;
}

textarea {
  padding: 20px;
  font-size: 20px;
}

.add-fav {
  font-size: 20px;
  padding: 10px 30px;
  border-radius: 20px;
}

.add-fav:hover {
  background: lightblue;
}
